.category {
  background-color: #85a7ff;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.4rem 0.6rem;
  border-radius: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1250px) {
  .category {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}
